# Miscellaneous

*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

## add from komvik
.build/
.cache/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
.packages
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

#iOS - specific files
## add from komvik
/ios/Pods/
/ios/.symlinks/
/ios/Flutter/flutter_assets/
/ios/GoogleService-Info.plist

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
## add from komvik
/android/.gradle/
/android/app/build/
/android/build/


#API Keys
/lib/firebase_options.dart
/android/app/google-services.json
firebase-service-account.json
/macos/Runner/GoogleService-Info.plist
/ios/Runner/GoogleService-Info.plist


## add from komvik ALL bottom
# MacOS-specific files (если проект использует macOS)
macos/.symlinks/
# Web-specific files (если проект использует web)
web/.dart_tool/
# Windows-specific files (если проект использует Windows)
windows/.symlinks/
# Linux-specific files (если проект использует Linux)
linux/.symlinks/