<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDGH_1W6Nf5l9jlAlUdSOPPx9auOwWrTZ4</string>
	<key>GCM_SENDER_ID</key>
	<string>177075689389</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dunkingclub</string>
	<key>PROJECT_ID</key>
	<string>dunkingclub</string>
	<key>STORAGE_BUCKET</key>
	<string>dunkingclub.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:177075689389:ios:e4fae5863dc15800a93324</string>
</dict>
</plist>